:root{
  --redMain: #bf0c17;
  --gris: #d0d5db;
  --colorhover: #E2635F;
  --letra: #252222;
}
/*------------------------------------------*/
/*------------------------------------------*/
/* ----------- FUENTES ---------------------*/
@font-face {
  font-family: "myriad-reg";
  src: url("font/MYRIADPRO-REGULAR.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "myriad-bold";
  src: url("font/MYRIADPRO-SEMIBOLD.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?67ublo');
  src:  url('font/icomoon.eot?67ublo#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?67ublo') format('truetype'),
    url('font/icomoon.woff?67ublo') format('woff'),
    url('font/icomoon.svg?67ublo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  width: 100%;
  height: 100%;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
  color: var(--letra);
}
.icon-e:before {
  content: "\ea84";
}
.icon-f:before {
  content: "\ea91";
}
.icon-i:before {
  content: "\ea92";
}
.icon-w:before {
  content: "\ea93";
}

/* -----------FIN FUENTES------------------- */
/*------------------------------------------*/
/*------------------------------------------*/

/*------------------------------------------*/
/*------------------------------------------*/
/*-------- --ESTILOS GENERALES------------- */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  width: 100%;
  background-color: var(--gris);
  font-family: "myriad-reg";
  color: var(--letra);
  margin: 0 auto;
}
a{
  display: block;
  width: 100%;
  height: 100%;
}

.contenedor{ /*estructura de la pagina, no cambiar*/
  width: 80%;
  margin: 0 auto;
}
.ultimo{
  margin-right: 0!important;
  border-right: none!important;
}

h2{
  font-size: 33px;
  font-family: "myriad-bold";
  color: var(--redMain);
}
p{
  font-size: 20px;
  text-align: justify;
}
.menu-burger{
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  position: fixed;
  top: 73px;
  left: 20px;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(191, 12, 23, .7);
  z-index: 5;
}
.quitar-burger{
  opacity: 0;
}

/* -----------FIN ESTILOS GENERALES ------- */
/*------------------------------------------*/
/*------------------------------------------*/
/*------------------------------------------*/
/*------------- HEADER  ------------------- */

    /* mensje superior */
#header #men-superior{
  width: 100%;
  height: 30px;
  background-color: var(--redMain);
  overflow: hidden;
}
#header #men-superior ul{
  display: flex;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
#header #men-superior ul li#men-1{
  width: 35%;
  height: 100%;
}
#header #men-superior ul li#men-2{
  width: 60%;
  height: 100%;
}
#header #men-superior ul li p{
  font-family: "myriad-bold";
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  padding: 0 3px;
}
#header #men-superior ul #men-2 ul{
  display:grid;
  grid-template-columns: 7% 7% 7% 14% 19% 21% 7% 24%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
#men-2 ul li span .icon-header{
  display: block;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
}
#header #men-superior ul #men-2 ul li p{
  text-align: center;
}
#header #men-superior ul #men-2 ul li a:hover{
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--colorhover);
  transition: .35s all;
}
         /* fin mensaje superior  */

         /*  Inicio menu  */
#nav-main{
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
}
#nav-main #logo h1{
  height: 100%;
}
#nav-main #logo img{
  display: block;
  width: 100%;
  margin: 0 auto;
}

.main-menu{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.menu-item{
  width: 100%;
  height: 100%;
}
.main-menu .burger-item{
  display: none;
  font-size: 1.4em;
  color: var(--letra);
  height: 16%;
  line-height: 1.8em;
  padding-left: 15px;
}
.main-menu .burger-item span{
  font-family: "myriad-bold";
  font-size: 1em;
  color: var(--letra);
  text-align: left;
  padding-left: 14px;
}
.menu-item a{
  font-family: "myriad-bold";
  font-size: 24px;
  text-align: center;
  line-height: 136px;
  color: var(--redMain);
  transition: all .2s ease;
}
.menu-item a:hover{
  text-decoration: underline;
  color: var(--colorhover);
  text-shadow: 0px 2px 1px #8B0000;
  transform: scale(1.2);
}

         /* Fin MENU  */
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

              /*--------------------------------------*/
                  /*------ PAGINA INICIO----------*/
              /*--------------------------------------*/

  /* BANNER */
#banner{
  position: relative;
  width: 100%;
  height: 555px;
  margin: 0 auto;
}
#banner .img-banner img{
  position: absolute;
  width: 100%;
  height: 100%;
}
#banner .msg{
  opacity: 0;
  width: 900px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
}
#banner .img-banner .msg h2{
  text-align: center;
  font-size: 56px;
  color: #fff;
  text-shadow: 0px 5px 5px #8B0000;
}
#banner .img-banner p{
  font-size: 36px;
  opacity: 1;
  color: #fff;
  text-align: center;
  text-shadow: 0px 5px 5px #8B0000;
}
/* ANIMACION BANNER  */

#banner #img1{
  animation-name: pasaImg;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 14s;
}
#banner #img2{
  animation-name: pasaImg;
  animation-duration: 21s;
  animation-iteration-count: infinite;
  animation-delay: 7s;
}
#banner #img3{
  animation-name: pasaImg;
  animation-duration: 21s;
  /* animation-timing-function: ease; */
  animation-iteration-count: infinite;
}
@keyframes pasaImg{
  0%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }
  34%{
    opacity: 0;
  }
  98%{
    opacity: 0;
  }
  100%{
    opacity: 0.5;
  }
}


#banner #mensaje3{
  left: 0;
  right: 0;
  animation: text 21s linear 0s infinite;
  /* animation-duration: 21s;
  animation-timing-function: ease;
  animation-iteration-count: infinite; */
}
#banner #mensaje2{
  left: 0;
  right: 0;
  animation: text 21s linear 7s infinite;
  /* animation-duration: 21s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 7s; */
}
#banner #mensaje1{
  left: 0;
  right: 0;
  animation: text 21s linear 14s infinite;
  /* animation-duration: 21s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 14s; */
}
@keyframes text{
  0%{
    opacity: 0;
    transform: translateY(80%);
  }
  8%{
    opacity: 1;
    transform: translateY(0%);
  }
  20%{
    opacity: 1;
    transform: rotateY(0%);
  }
  33%{
    opacity: 1;
    transform: translateY(0%);
  }
  100%{
    opacity: 0;
  }
}
/* FIN ANIMACION BANNER  */


/*--. MAIN INICIO --- */

/*inicio BOTONES */
#fondo-botones{
  position: relative;
  background-image: url(../img/botFondo.jpg);
  width: 100%;
  height: 380px;
}
#fondo-botones #botones{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
#fondo-botones #botones .botonesrojos img{
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
#fondo-botones #botones .botonesrojos h2{
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.h2-cnt{
  margin-top: 24px!important;
}
#fondo-botones #botones .botonesrojos p{
  color: var(--letra);
  font-size: 20px;
  text-align: center;
  margin: 20px 20px;
}
  /*fin BOTONES */

  /*inicio SERVICIOS */
#fondoserv{
  background-image: url(../img/FONDO-ESTATICO-min.png);
  background-repeat: no-repeat;
  background-position:  center top;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 580px;
}
#img-serv h2{
  text-align: center;
  border-bottom: 6px solid var(--redMain);
  padding: 40px 0 10px;
}
#img-serv p{
  font-size: 28px;
  color: var(--letra);
  text-align: center;
  margin: 30px auto 20px;
}

#servicios{
  display: grid;
  grid-template-columns: 50% 50%;
}
.fotos-serv{
  display: flex;
  margin: 20px 0 10px;
}

.fotos-serv img{
  min-width: 200px;
  margin: 0;
  filter: grayscale(1);
  transform: translateX(40%);
  transition: all .6s ease;
}
.fotos-serv ul{
  margin: auto;
  margin-left: 30px;
  opacity: 0;
  transform: translateX(40%);
  transition: all .3s ease;
}
.fotos-serv ul li{
  background-image: url(../img/icon-elevet.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  color: var(--letra);
  margin: 10px 0;
  padding-left: 25px;
}

      /*Animacion fotos dervicios*/
.fotos-serv:hover img{
  /* transform: translateX(-10%); */
  filter: grayscale(0);
  transform: scale(1.3);
}
.fotos-serv:hover ul{
  opacity: 1;
  transform: translateX(8%);
}
/*Fin Animacion fotos dervicios*/


          /*fin SERVICIOS */

/*---FIN MAIN --- */


/*--- FOOTER ---- */
#footer #caja-redes #redes-sociales{
  width: 70%;
  margin: 50px auto 30px;
  display: flex;
}
#footer #caja-redes #redes-sociales li{
  background-color: var(--redMain);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto;
  transition: all .2s linear;
}
#footer #caja-redes #redes-sociales li:first-child{
  margin-left: 20px;
}
#footer #caja-redes #redes-sociales li .icon-footer{
  display: block;
  font-size: 46px;
  text-align: center;
  line-height: 67px;
}
#footer #caja-redes #redes-sociales li:hover{
  background-color: var(--colorhover);
  box-shadow: 0 5px 2px  gray;
  transform: scale(1.3);
}

#menu-inferior{
  width: 100%;
}
#menu-inferior li{
  height: 50px!important;
}
#menu-inferior li a{
  line-height: 50px;
}

#bottom-main-box{
  background: var(--redMain);
  height: 130px;
  padding-top: 5px;
}
#bottom-box ul{
  display: flex;
  width: 50%;
  height: 20px;
  padding-top: 2px;
  margin: 30px auto;
}
#bottom-box ul li{
  width: 200px;
  text-align: center;
  color: #fff;
  border-right: 2px solid #fff;
  margin: 0 auto;
}

#bottom-box p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
/* ---FIN FOOTER ---*/



      /*--------------------------------------*/
        /*------ PAGINA SERVICIOS ----------*/
      /*--------------------------------------*/



/*--- #BANNER SERV ------ */
#banner .img-banner button{
  position: absolute;
  font-size: 1.4em;
  font-weight: 600;
  width: 190px;
  height: 50px;
  background-color: var(--redMain);
  border-radius: 15px;
  border: none;
  left: 0px;
  right: 0px;
  bottom: 60px;
  margin: 0 auto;
  transition: all .3s;
}
#banner .img-banner button a{
  color: #fff;
  line-height: 50px;
}
#banner .img-banner button:hover{
  cursor: pointer;
  background-color: var(--colorhover);
  color: var(--gris);
}
#banner .img-banner button:focus{
  border: none;
  outline: none;
}

/* --- MAIN SERV ---*/

#main-serv h2{
  text-align: center;
  width: 60%;
  height: 35px;
  margin: 40px auto;
}
 /* #main-serv #manto{
   display: grid;
   grid-template-columns: 40% 60%;
 } */
 #main-serv .serv{
   display: flex;
   margin: 30px 0;
 }

#main-serv .img-serv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: all .3s;
}
#main-serv .img-serv img{
  width: 100%;
}
.animar{
  animation: manto-img .8s ease-out;
}
@keyframes manto-img {
  from{
    transform:  translateX(100%);
    opacity: 0;
  }
  to{
    transform:  translateX(0%);
    opacity: 1;
  }
}

#main-serv .text-serv ul{
  width: 90%;
  margin: 0 auto;
}

#main-serv .text-serv ul li{
  background-image: url(../img/icon-elevet.png);
  background-repeat: no-repeat;
  background-position: left 5px;
  background-size: 20px;
  color: var(--letra);
  margin: 20px 0;
  padding: 5px;
  padding-left: 25px;
}

#main-serv #venta{
  display: grid;
  grid-template-columns: 60% 40%;
}
#main-serv #venta .img-serv img{
  width: 90%;
  height: 500px;
}

/* #main-serv #actualiza{
  display: grid;
  grid-template-columns: 40% 60%;
} */

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

      /*--------------------------------------*/
        /*------ PAGINA NOSOTROS ----------*/
      /*--------------------------------------*/
#banner .title-we{
  position:absolute;
  width: 65%;
  text-align: center;
  left: 18%;
  top: 15%;
  color: #fff;
  text-shadow: 0px 5px 5px #8B0000;
}

#main-we h2{
  text-align: center;
  width: 50%;
  height: 35px;
  margin: 40px auto;
}
#main-we .p1{
  width: 85%;
  text-align: justify;
  padding: 10px;
  margin: 0 auto;
}
#main-we #nosotros{
  display: grid;
  grid-template-columns: 33.2% 33.2% 33.2%;
  margin: 60px auto;
}

#main-we #nosotros .article-we{
  width: 90%;
  background-color: #ECE0E0;
  border-top:30px solid var(--redMain);
  padding: 15px;
  margin: 0 auto;
}
#main-we #nosotros .article-we p{
  text-align: center;
}
#main-we #nosotros .article-we img{
  display: block;
  width: 60%;
  height: 170px;
  margin: 15px auto;
}
#main-we #nosotros .article-we:nth-child(2) img{
  margin-top: 90px;
}




/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

      /*--------------------------------------*/
        /*------ PAGINA CONTACTENOS ----------*/
      /*--------------------------------------*/

/*----formulario ---*/
section#formulario{
  width: 100%;
  height: auto;
  margin-top: 50px;
}
#formualrio form{
  width: 100%;
  padding: 20px;
}
#formulario form input{
  width: 45%;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  transition: all .2s;
  border: none;
  margin: 20px;
}
#formulario form input:focus,
#formulario form textarea:focus{
  color: var(--letra);
  outline: none;
  border-bottom:  2px solid var(--redMain);
  border-left: 2px solid var(--redMain);
}
#formulario form textarea{
  width: 94.5%;
  height: 100px;
  border-radius: 5px;
  transition: all .2s;
  border: none;
  padding: 10px;
  margin: 20px;
}
#formulario form #enviar{
  width: 25%;
  transform: translateX(135%);
  font-size: 1.5em;
  background-color: var(--redMain);
  color: var(--gris);
  transition: all .3s linear;
}
#formulario form #enviar:hover{
  background-color: var(--colorhover);
  color: #fff;
  cursor: pointer;
}
/*------fin FORMULARIO ----*/

/*-------contactenos ------*/
#main-contac #contactenos{
  display: block;
  width: 100%;
  height: auto;
  margin: 60px 0;
}
#contactenos .info{
  padding: 10px;
}
#contactenos .info h2,
#contactenos .info h3,
#contactenos .info p{
  text-align: center;
  width: 100%;
}
#contactenos .info h2{
  padding: 0;
  margin-top: 5px;
  font-size: 3em;
}
#contactenos .info h3{
  margin-top: 18px;
  font-size: 1.5em;
}
#contactenos .info p{
  font-size: 1.3em;
}
#contactenos .info hr{
  box-shadow: 0px 3px 4px 1px var(--letra);
  margin: 10px 0;
}

#contactenos .info .llamenos{
  display: grid;
  grid-template-columns: 60% 40%;
}
#contactenos .info .tel{
  margin-top: 10px;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 20px;
}
#contactenos .llamenos .img-whatsapp img{
  display: block;
  width: 200px;
  margin: 20px auto;
}

#contactenos #mapa{
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
}


/*-------------------------------------------------------*/
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/

      /*--------------------------------------*/
        /*------ PAGINA ENVIADO ----------*/
      /*--------------------------------------*/

#main-enviado{
  margin: 60px auto;
}
#main-enviado h2,
#main-enviado h4{
  text-align: center;
  width: 70%;
  margin: 50px auto;
}
#main-enviado h2{
  color: #fff;
  text-shadow: 0px 5px 5px #8B0000;
}
#main-enviado img{
  display: block;
  width: 250px;
  margin: 0 auto;
}
#main-enviado h4{
  font-size: 1.5em;
}
#main-enviado button{
  display: block;
  font-size: 1.4em;
  font-weight: 600;
  width: 190px;
  height: 50px;
  background-color: var(--redMain);
  border-radius: 15px;
  border: none;
  margin: 10px auto;
  transition: all .3s;
}
#main-enviado button:hover{
  background-color: var(--colorhover);
}
#main-enviado button a{
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}
