/*-----------------------------------------*/
       /*   RESPONSIVE DESIGN    */
/*-----------------------------------------*/
/* @media (max-width:1440px){
  body{
    max-width: 1440px;
  }

  #header #men-superior{
    width: 1440px!important;
  }
  
} */
@media (max-width: 1330px){
  /* PAGIAN SERVICIOS MAIN */
  #main-serv .text-serv ul li{
    margin: 10px;
  }
  #main-serv .text-serv ul li p{
    font-size: 18px;
  }
}

/*-------------------------------------------*/
/*-------------------------------------------*/

@media (max-width: 1200px){

  .contenedor{
    width: 90%;
  }

  /*  PAGINA INICIO  */
  #banner{
    height: 500px;
  }

  
  /* .fotos-serv{
    margin: 10px 0;
  } */

  .fotos-serv img{
    width: 180px;
    margin: 0;
    transform: translateX(35%);
  }

  .fotos-serv ul{
    margin: 0;
    margin-left: 10px;
    margin-right: 0px;
    transform: translateX(23%);
  }

  .fotos-serv ul li{
    margin: 10px 0;
  }

  /* PAGIAN SERVICIOS MAIN */
  #main-serv .text-serv ul li p{
    font-size: 16px;
  }

  /* PAGINA NOSOTROS */
  #main-we h2{
    margin: 20px auto;
  }
  #main-we #nosotros .article-we p{
    font-size: 18px;
  }
  #main-we #nosotros .article-we img{
    width: 70%;
  }

}

/*-------------------------------------------*/
/*-------------------------------------------*/

/* @media (max-width: 1774px){
  #header #men-superior 
} */
/*-------------------------------------------*/
/*-------------------------------------------*/

@media (max-width: 1024px){

/* HEADER */

  #men-superior #men-1{
    width: 40%;
  }

  #men-superior ul #men-2 ul li:nth-child(5),
  #men-superior ul #men-2 ul li:nth-child(6),
  #men-superior ul #men-2 ul li:nth-child(7){
    display: none;
  }

  #nav-main{
    display: grid;
    grid-template-columns: 35% 65%;
  }
  h1{
    height: 100%;
    margin: 0;
  }
  h1 a{
    padding-top: 30px;
    overflow: hidden;
  }
  h1 a img{
    display: block;
    width: 100%;
  }

  .menu-item a:hover{
    transform: none;
    text-decoration: none;
    color: var(--redMain);
    text-shadow: none;
  }

  #nav-main{
    width: 95%;
  }
  .menu-item a{
    font-size: 24px;
  }

  #banner{
    height: 440px;
  }
  #banner .msg{
    bottom: 150px;
  }

        /* PAGINA INICIO */

  /* #fondoserv{
    height: 650px;
  } */
  .fotos-serv{
    margin: 10px 0;
    overflow: hidden;
  }
  .fotos-serv img{
    display: block;
    width: 200px;
    overflow: hidden;
    margin: auto;
    filter: none;
    transform: translateX(0%);
  }
  .fotos-serv ul{
    width: 70%;
    height: auto;
    margin-left: 5px;
    padding: 10px;
    opacity: 1;
    transform: translateX(0%);
  }
  .fotos-serv:hover img{
    transform: none;
    transform: scale(1);
  }
  .fotos-serv:hover ul{
    transform: none;
  }

  #footer #caja-redes #redes-sociales{
    width: 85%;
  }

      /*  PAGINA SERVICIOS  */

  #banner .img-banner button{
    bottom: 50PX;
  }

      /*  PAGINA NOSTROS  */


  #main-we #nosotros .article-we img{
    width: 90%;
  }

        /*  PAGINA CONTACTENOS  */

    #formulario form input{
      width: 44%;
      margin: 19px;
    }
    #formulario form #enviar{
      width: 40%;
      height: 50px;
      transform: translateX(67%);
    }
}

/*-------------------------------------------*/
/*-------------------------------------------*/

@media (max-width:887px){

  .contenedor{
    width: 97%;
  }
  #bottom-box ul{
    width: 80%;
  }

  /* Banner */

  #banner{
    height: 400px;
  }
  #banner .msg{
    width: 95%;
  }
  #banner .img-banner .msg h2{
    font-size: 45px
  }
  #banner .img-banner p{
    font-size: 30px;
  }

  /* PAGINA INICIO */
  #fondoserv {
    height: auto;
  }
  #img-serv h2{
    font-size: 30px;
  }
  #img-serv p{
    font-size: 24px;
  }
  #servicios{
    width: 97%;
  }

  /*  PAGINA SERVICIOS  */

  #banner .img-banner button{
    bottom: 35PX;
  }

  #main-serv h2{
    width: 75%;
  }
  #main-serv .text-serv ul li p {
    font-size: 14px;
  }

  /* PAGINA NOSTROS */

  #main-we #nosotros .article-we p{
    font-size: 16px;
  }
}

/*-------------------------------------------*/
/*-------------------------------------------*/

@media (max-width:768px){  

  .wsapp{
    right: 10px;
  }

  #menu-inferior{
    width: 95%;
  }

  #footer #caja-redes #redes-sociales li:first-child{
    margin-left: 0;
  }

  /* HEADER */

  #header #men-1{
    display: none;
  }

  #header ul .menu-burger{
    display: block;
  }  

   #nav-main{
     display: block;
     width: 100%;
     height: 105px;
     padding: 10px;
     /* padding-top: 30px; */
   }
   #nav-main #logo{
     width: 55%;
     margin: 0 auto;

   }
   #nav-main #logo a{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 6px;
   }
   #nav-main #logo a img{
     max-width: 100%;
   }


   #nav-main .main-menu{
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: column;
     position: fixed;
     width: 50%;
     height: 250px;
     z-index: 11;
     top: 48px;
     left: 0;
     background-color: rgba(208, 213, 219, .9);/*var(--redMain);*/
     transition: all .4s linear;

     transform: translateX(-100%);
   }
   .active{
     transform: translateX(0%)!important;
     transition: all .4s ease;
   }
   .main-menu .burger-item{
     display: block;
   }
   .main-menu .menu-item{
      height: 21%;
   }
   .menu-item a{
     background-image: url(../img/icon-elevet.png);
     background-repeat: no-repeat;
     background-position: 15px center;
     background-size: 20px;

     border-top: 2px solid #fff;
     font-size: 1.3em;
     text-align: left;
     color: var(--redMain);
     line-height: 2.5em;
     padding-left: 2.5em;
   }
  .menu-item a:hover{
    text-decoration: none;
    color: inherit;
    text-shadow: none;
    transform: none;
  }

      /* FOOTER */

  #menu-inferior{
    display: none;
  }

  #banner{
    height: 300px;
  }
  #banner .msg{
    bottom: 90px;
    margin-top: 0;
  }
  #banner .img-banner .msg h2{
    font-size: 2.5em;
  }
  #banner .img-banner p{
    font-size: 1.5em;
  }

  #fondoserv{
    height: auto;
  }



       /* PAGINA SERVICIOS */

  #banner .img-banner button{
    bottom: 20px;
  }

  #fondo-botones{
    height: 400px;
  }
  #fondo-botones #botones .botonesrojos h2{
    font-size: 1.6em;
  }
  #fondo-botones #botones .botonesrojos p{
    font-size: 1.25em;
  }

  #img-serv h2{
    font-size: 1.7em;
    padding: 15px 0 10px;
  }
  #img-serv p{
    font-size: 1.4em;
    margin: 15px auto 10px;
  }

  .fotos-serv{
    margin: 10px 0;
  }
  .fotos-serv ul{
    padding: 0;
    padding-right: 5px;
  }
  .fotos-serv ul li{
    font-size: .9em;
  }

  #main-serv .text-serv{
    width: 100%;
  }

      /* PAGINA NOSOTROS */

  #banner .title-we{
    font-size: 1.6em;
  }
  #main-we h2{
    font-size: 1.7em;
    margin: 10px auto;
  }
  #main-we .p1{
    font-size: 1.2em;
  }
  #main-we #nosotros{
    margin: 20px auto;
  }

      /* PAGINA CONTACTENOS */

  section#formulario{
    margin-top: 10px;
  }
  #formulario form input{
    margin: 18px;
  }
  #formulario form #enviar{
    width:
  }
  #formulario form #enviar {
    width: 58%;
    height: 60px;
    transform: translateX(28%);
  }

  #main-contac #contactenos{
    margin-top: 10px;
  }
  #contactenos .info h2{
    font-size: 2.3em;
  }

  #contactenos #mapa{
    height: 450px;
  }
}

/*-------------------------------------------*/
/*-------------------------------------------*/

@media (max-width:668px){

  .contenedor{
    width: 100%;
  }
    /* HEADER */

  #hader{
    width: 100vw;
  }

    #men-2 ul li:last-child{
      display: none;
    }
  

  #banner{
    height: 220px;
  }
  #banner .msg{
    bottom: 80px;
  }
  #banner .img-banner .msg h2{
    font-size: 1.8em;
  }
  #banner .img-banner p{
    font-size: 1.2em;
  }

        /* PAGINA INICIO */

  #fondo-botones{
    height: auto;
    padding-bottom: 15px;
  }
  #fondo-botones #botones{
    display: block;
  }
  #fondo-botones #botones .botonesrojos img{
    padding-top: 10px;
    margin-top: 0;
  }
  #fondo-botones #botones .botonesrojos h2{
    padding-top: 5px;
    margin-top: 0!important;
  }
  .h2-cnt{
    margin-top: 0;
  }
  #fondo-botones #botones .botonesrojos p{
    padding: 0 15px;
    margin: 5px;
  }

  #fondoserv{
    height: auto;
    padding-bottom: 5px;
  }
  #img-serv h2{
    font-size: 1.2em;
  }
  #img-serv p{
    font-size: 1em;
    padding: 0 15px;
  }
  #servicios{
    display: flex;
    flex-wrap: wrap;
  }
  .fotos-serv{
    display: block;
    width: 50%;
    margin: 0;
  }
  .fotos-serv img{
    width: 80%;
  }
  .fotos-serv ul{
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
  }

      /* PAGINA SERVICIOS */

  #banner .img-banner button{
    width: 30%;
    height: 15%;
    bottom: 15px;
  }
  #banner .img-banner button a{
    font-size: .7em;
    line-height: 35px;
  }

  #main-serv h2{
    font-size: 1.5em;
    line-height: 40px;
    margin: 20px auto 10px;;
  }

  #main-serv .serv{
    display: block;
    padding: 5px;
    margin: 15px 0;
  }
  #main-serv .img-serv{
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  #main-serv .text-serv ul{
    display: flex;
    flex-wrap: wrap;
  }
  #main-serv .text-serv ul li{
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    background-position: left 10px;
    margin: 10px auto 0;;
  }
  #main-serv .text-serv ul li p{
    text-align: left;
    font-size: .8em;
  }
  #main-serv #venta{
    display: flex;
    flex-direction: column-reverse;
  }
  #main-serv #venta .img-serv img,
  #main-serv #actualiza .img-serv img{
    width: 100%;
    height: 273px;
  }

      /* PAGINA NOSOTROS */

  #banner .title-we {
    font-size: 1.2em;
  }
  #main-we .p1 {
    font-size: 1em;
  }
  #main-we #nosotros{
    display: block;
  }
  #main-we #nosotros .article-we {
    padding: 0;
  }
  #main-we #nosotros .article-we img {
    width: 60%;
  }
  #main-we #nosotros .article-we:nth-child(2) img{
    margin-top: 20px;
  }

      /* PAGINA CONTACTENOS */

  #formulario form input {
    display: block;
    width: 90%;
    margin: 18px auto;
  }
  #formulario form textarea{
    display: block;
    width: 90%;
    margin: 0 auto 20px;
  }
  #formulario form #enviar {
    width: 90%;
    transform: translateX(0%);
  }

  #contactenos .info .llamenos{
    display: block;
  }
  #contactenos .info .llamenos-tel{
    width: 60%;
    padding-top: 20px;
    margin: 0 auto;
  }
  #contactenos .info h3{
    font-size: 1.3em;
  }
  #contactenos .info .tel{
    font-size: 1.85em;
  }
  #contactenos .llamenos .img-whatsapp img{
    display: none;
  }
  /* #contactenos #mapa{
    height: 250px;
    margin-top: 10px;
  } */

      /*  PAGINA ENVIADO */

  #main-enviado{
    margin: 10px auto;
  }
  #main-enviado h2{

    margin: 0 auto 20px;;
  }
}

/*-------------------------------------------*/
/*-------------------------------------------*/

@media (max-width:480px){


  .contenedor{
    width: 100%;
  }
  /* .menu-burger{
    position: fixed;
    left: 5px;
  } */
      /* HEADER */
  #nav-main #logo {
    width: 80%;
  }

  #nav-main .main-menu{
    width: 60%;
  }
      /* FOOTER */
  #footer #caja-redes #redes-sociales {
    width: 95%;
    margin: 20px auto;
  }
  #footer #caja-redes #redes-sociales li {
    width: 50px;
    height: 50px;
}
  #footer #caja-redes #redes-sociales li .icon-footer {
    font-size: 2em;
    line-height: 52px;
  }
  #bottom-box ul {
    width: 98%;
  }
  #bottom-box ul li{
    font-size: .7em;
    line-height: 20px;
  }

      /* INICIO */
  #banner {
    height: 160px;
  }
  #banner .msg {
    bottom: 40px;
  }
  #banner .img-banner .msg h2 {
    font-size: 1.3em;
  }
  #banner .img-banner p {
    font-size: .8em;
  }

  #servicios{
    display: block;
  }
  .fotos-serv{
    width: 100%;
    margin: 20px auto;
  }

  #men-inf{
    width: 90%;
    margin: 0 auto;
  }
    /
    #men-inf p{
      font-size: 16px;
    }


    #form-lnpg{
      width: 90%;
    }

      /* SERVICIOS */

  #banner .img-banner button {
    width: 44%;
    height: 16%;
    bottom: 14px;
  }
  #banner .img-banner button a {
    font-size: .6em;
    line-height: 28px;
  }
  #main-serv h2{
    font-size: 1em;
  }
  #main-serv .text-serv ul{
    display: block;
    width: 100%;
  }
  #main-serv .text-serv ul li{
    display: block;
    width: 100%;
  }

      /* NOSOTROS */

  #banner .title-we {
    font-size: 1em;
  }
  #main-we .p1{
    width: 95%;
  }
  #main-we #nosotros .article-we{
    width: 95%;
  }
  #main-we #nosotros .article-we p{
    font-size: .9em;
    padding: 0 5px;
  }

      /* CONTACTENOS */

  #contactenos .info h2 {
    font-size: 1.8em;
  }
  #contactenos .info p {
    font-size: 1.1em;
  }
  #contactenos .info .llamenos {
    display: block;
  }
  #contactenos .info .llamenos-tel{
    width: 100%;
  }
